@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
  box-sizing: content-box;
  font-family: 'Ubuntu', sans-serif;
  background: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 7rem auto 3rem;
  font-size: 3rem;
}

hr {
  width: 100px;
  margin: 1rem auto;
  padding: 2px;
  background-color: #7cb9e8;
  outline: none;
  border: none;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h4 {
  color: #7cb9e8;
  margin-bottom: 1rem;
}

.card-container {
  position: relative;
  background-color: whitesmoke;
  width: 30%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0px #484848;
}

.container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 200px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 8px 15px 0px #484848;
}

p {
  width: 90%;
  text-align: center;
  line-height: 1.5;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.directional-btn {
  position: absolute;
  bottom: 80px;
  padding: 1rem;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

.far {
  font-size: 2rem;
  background-color: transparent;
}

.far:hover {
  color: #7cb9e8;
  cursor: pointer;
}

.far:active {
  transform: scale(0.7);
}

.far.fa-angle-left {
  margin-right: 2rem;
}

#randomize {
  position: absolute;
  bottom: 40px;
  padding: 0.5rem;
  border-radius: 2pex;
  background-color: #7cb9e8;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 2px #484848;
  font-family: inherit;
}

#randomize:hover {
  filter: brightness(90%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

#randomize:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 2px 0px #484848;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    margin-top: 2.5rem;
  }
  .card-container {
    width: 90%;
    height: 70vh;
  }

  img {
    width: 40%;
    position: relative;
    margin: 2rem auto 0;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .card-container {
    width: 90%;
    height: 80vh;
  }

  img {
    width: 60%;
    position: relative;
    margin: 5rem auto 0;
  }

  h2,
  h3,
  p {
    font-size: 0.9rem;
  }
}
